<div class="page-content-section">
    <div>
        <h1 class="page-content-header">Stock Adjustments / New Adjustment</h1>
    </div>
    <br />

    <form method="post" action="/stock_adjustment">
      <div class="form-group select-group">
        <label for="reason" class="select-labels">Reason</label>
        <select name="reason">
          <option value="New Products">New Product</option>
          <option value="Returned">Returned</option>
          <option value="Damaged">Damaged</option>
          <option value="Promotion">Promotion</option>
          <option value="Entry Error">Error</option>
        </select>
      </div>
      <!-- alternatively we could add this in in the post controller -->
      <!-- <div class="form-group">
        <input type="hidden" class="form-control" value="testUser" id="userInCharge">
      </div> -->
      <div class="tableContainer-stockAdj">
          <table id="newAdjustmentTable" class="table-stockAdj">
            <tr>
              <th class="cs-tablehead-stocksAdj">Product SKU</th>
              <th class="cs-tablehead-stocksAdj">Quantity Change</th>
            </tr>
            <tr>
              <td class="cs-tabledata-stocksAdj"><input type="text" name="sku"/></td>
              <td class="cs-tabledata-stocksAdj"><input type="text" name="qtyChange"/></td>
            </tr>
          </table>
          <div id="addNewAdjustmentItem" class="">+ Add another item</div>
      </div>
      
      <div class="form-group select-group">
        <label for="notes" class="notes-labels">Notes</label>
        <input class="form-control notes-textBox" type="text" name="notes" id="notes" placeholder="Write it here">
      </div>
      <input class="btn submitNewProductButton" type="submit">
    </form>

</div>