<style>

</style>
<% if (currentUser) { %>
<% } else { %>
    <div>
        <header class="landingNavPanel">
            <div class="cloudStoreNavBrand">
                <img class="cloudStoreLogo" src="https://scontent-sin1-1.xx.fbcdn.net/v/t1.0-9/13239488_10157080752595106_7343080580186167984_n.jpg?oh=41bf9c52c5bfcf2bd7477f24bb92fd08&oe=57D1E580" />
                <a class="cloudStoreBrand">CloudStore</a>
            </div>
        </header>
        <section class="leftBodyContent">
            <h1 class="tagline">Inventory management for business owners</h1>
            <a href="/login" class="loginButton">Enter CloudStore</a>
            <p class="registerParagraph"><a href="/signup" class="registerButton">Register</a> here if you are new to CloudStore</p>
        </section>
    </div>
<% } %>
