<style>

</style>

<% if (message.length > 0) { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
<% }%>
    <div class="formContainer">
        <a href="/" class="cloudStoreLoginSignupBrand">CloudStore</a>
        <div class="loginSignupMessage">
          <P>Sign in to your account</P>
        </div>
        <div class="fields">
          <form method="post" action="/login"  autocomplete="off">
              <div class="form-group">
                  <!-- <label for="email">Email</label> -->
                  <input class="form-control cs-formInput" type="text" name="email" id="email" placeholder= "Email Address">
              </div>

              <div class="form-group">
                  <!-- <label for="email">Password</label> -->
                  <input class="form-control cs-formInput" type="password" name="password" id="password" placeholder= "Password">
              </div>

              <input class="btn btn-default loginSignupSubmitButton" type="submit" value="Let's Go">
          </form>
          <div class="form-bottom" >
              <a href="/signup" class="login-registerButton">Create account</a>
          </div>
      </div>
    </div>
