<style>
  h1, table, th, td {
  /*border: 2px solid black;*/
  padding: 5px 10px;
  }

  .btn {
    margin-top: 30px;
  }
  h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
  }
</style>
<h1>Application for API</h1>
<form method="post" action="/token" id="webURLForm">
  <label for="webURL">Your Website URL:</label>
  <input class="form-control" type="text" name="webURL" id="webURL">
  <input class="btn btn-default" type="submit">
</form>

<!-- Display Token here using jquery once the form is submitted-->
<div id="tokenDisplay"></div>
<!-- <span class="tokenDisplay">Use this token to access API: <% if (false) {%><%= token %><%}%></span> -->
