<style>
    .SO-formGroup{
        width: 600px;
    }
    
    .tableContainer-sales{
    background: #fff;
    box-shadow: 2px 2px 2px 0 #ccc !important;
    padding: 15px 20px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 600px;
}

.table-sales{
    margin: 0 auto;
}


</style>

<div class="page-content-section">
    <div>
        <h1 class="page-content-header">Sales / New Sales Order (incomplete)</h1>
    </div>
    <br />
    <div class="containerWidth left-align">
        
        <form action="/sales" method="POST" class="form-horizontal">
           
            <div class="form-group SO-formGroup">
                <label for="customerName" class="control-label col-sm-3 input-labels">Customer's Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="customerName" />
                </div>
            </div>
            <div class="form-group SO-formGroup ">
                <label for="customerEmail" class="control-label col-sm-3 input-labels">Customer's Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="customerEmail" />
                </div>
            </div>
       
            <div class="tableContainer-sales">
                <table id="newSalesTable" class="table-sales">
                    <tr>
                        <th class="cs-tablehead-stocksAdj">Product SKU</th>
                        <th class="cs-tablehead-stocksAdj">Quantity Sold</th>
                    </tr>
                    <tr>
                        <td class ="cs-tabledata-stocksAdj">
                            <input type="text" name="sku" />
                        </td>
                        <td class ="cs-tabledata-stocksAdj">
                            <input type="text" name="qty" />
                        </td>
                    </tr>
                </table>
                <div id="addNewSalesItem">Add another item</div>
            </div>    

            <div>
                <button type="submit" class="btn submitNewProductButton">Submit</button>
            </div>
            
        </form>

    </div>
    
</div>

